.CityDetails .city-details {
    padding-bottom: 30px;
}

.CityDetails h1 {
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
}

.CityDetails span {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-shadow: 5px 5px 5px black;
}

.CityDetails h2 {
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

.CityDetails .temperature {
    font-size: 90px;
}

.CityDetails .temp-c {
    font-size: 25px;
    position: relative;
    top: -30px;
    transition: all 200ms ease-in-out;
}