.ExtraInfo .description {
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    position: relative;
    text-shadow: 5px 5px 5px black;
    text-transform: capitalize;
    top: -20px;
}

.ExtraInfo ul {
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    list-style: none;
    padding: 0px;
    padding-bottom: 5px;
    text-shadow: 5px 5px 5px black;
}

.ExtraInfo .main-symbol {
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

.ExtraInfo .extra-details {
    font-weight: bolder;
}